<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>First name:</strong>
  <%= @friend.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @friend.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @friend.mobile_phone %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @friend.home_phone %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @friend.notes %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-dark"  %> 
<%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-dark" %> 
<%= link_to 'Back', friends_path, class: "btn btn-dark"  %>
